
@import 'assets/fonts/stylesheet.css';
.btn-primary {
  background-color: #00C5D6;
  border-color: #00C5D6;
  transition: all 1s;

  &:hover,
  .active,
  :focus {
    background-color: #4da7af !important;
    border-color: #4da7af !important;
    box-shadow: none !important;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #252836;
   font-family: 'Poppins';

}

.layout {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 15px;
}

// .sidebar {
//   height: 100% !important;
//   width: 270px;
//   transition: width 0.3s ease;
//   overflow: hidden;
//   background: #10141A;
//   color: #fff;
//   height: 100vh;
//   padding-top: 20px;
//   position: relative;
//   box-shadow: 99px -1px 10px 0px rgba(24, 26, 27, 0.473);
//   -webkit-box-shadow: 9px -1px 10px 0px rgba(24, 26, 27, 0.473);
//   -moz-box-shadow: 9px -1px 10px 0px rgba(24, 26, 27, 0.473);

//   &.collapsed {
//     width: 80px;
//     overflow: visible;

//     .menu {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       height: 50%;
//     }

//     .menu-item {
//       justify-content: center !important;
//       padding: 12px;
//       -webkit-border-top-left-radius: 10px;
//       -webkit-border-bottom-left-radius: 10px;
//       -moz-border-radius-topleft: 10px;
//       -moz-border-radius-bottomleft: 10px;
//       border-top-left-radius: 10px;
//       border-bottom-left-radius: 10px;

//       .icon-sec {
//         margin: 0 auto;
//       }

//       label {
//         display: none;
//       }
//     }

//     .arrow {
//       display: none;
//     }

//     .submenu {
//       position: absolute;
//       top: 0;
//       left: 100%;
//       min-width: 300px;
//       background: #2a2a3d;
//       z-index: 1000;
//       display: none;

//       h6 {
//         border-bottom: 1px solid #5f5f5f;
//         padding: 20px;
//       }
//     }

//     .has-submenu {
//       position: relative;

//       &.open {
//         background: linear-gradient(90deg, #00C5D6 2%, rgb(42, 42, 61) 93%);
//         -webkit-border-top-left-radius: 10px;
//         -webkit-border-bottom-left-radius: 10px;
//         -moz-border-radius-topleft: 10px;
//         -moz-border-radius-bottomleft: 10px;
//         border-top-left-radius: 10px;
//         border-bottom-left-radius: 10px;

//       }

//       &:hover {
//         background: linear-gradient(90deg, #00C5D6 2%, rgb(42, 42, 61) 93%);
//         -webkit-border-top-left-radius: 10px;
//         -webkit-border-bottom-left-radius: 10px;
//         -moz-border-radius-topleft: 10px;
//         -moz-border-radius-bottomleft: 10px;
//         border-top-left-radius: 10px;
//         border-bottom-left-radius: 10px;

//       }

//       .float-submenu {
//         border-top: 1px solidrgba(31, 34, 46, 0.31);
//         border-right: 1px solid rgba(31, 34, 46, 0.31);
//         border-bottom: 1px solid rgba(31, 34, 46, 0.31);
//         -webkit-border-top-right-radius: 10px;
//         -webkit-border-bottom-right-radius: 10px;
//         -moz-border-radius-topright: 10px;
//         -moz-border-radius-bottomright: 10px;
//         border-top-right-radius: 10px;
//         border-bottom-right-radius: 10px;

//       }
//     }

//     li.has-submenu:hover .submenu,
//     li.has-submenu.open .submenu {
//       display: block;
//       padding: 0;
//         background-color: rgb(31 29 43 / 61%);
//     -webkit-backdrop-filter: blur(5px);
//     backdrop-filter: blur(5px);
//     border: 1px solid #2e2e2e;

//     }

//   }

//   .sidebar-logo {
//     text-align: center;
//     margin: 10px;
//   }

//   .sidebar-collpseMenu {
//     background-color: #1F1D2B;
//     padding: 5px;
//     display: block;
//     text-align: center;

//     margin: 1rem 0;

//     button {
//       color: inherit;
//       text-decoration: none;
//       font-size: 24px;
//       transition: all 1s;

//       &:hover {
//         color: #00C5D6;
//       }
//     }
//   }

//   .menu {
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//       .submenu {
//         .icon-sec {
//           background: #252836;
//           width: 35px;
//           height: 35px;
//           color: #706D7E;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           border-radius: 10px;
//           font-size: 20px;
//         }
//       }
//     }

//     .menu-item {
//       display: flex;
//       justify-content: space-between;
//       padding: 12px 20px;
//       cursor: pointer;
//       color: #706D7E;
//       text-decoration: none;
//       font-size: 14px;

//       &.active {
//         color: #00c5d6;
//         font-weight: 600;

//         .icon-sec {
//           background: #00c5d6 !important;

//         }
//       }

//       .icon-sec {
//         background: #252836;
//         width: 35px;
//         height: 35px;
//         color: #706D7E;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 10px;
//         font-size: 20px;
//       }
//     }

//     .arrow {
//       transition: transform 0.2s;

//       &.open {
//         transform: rotate(180deg);
//       }
//     }

//     .submenu {
//       list-style: none;
//       padding-left: 25px;
//       // background: #2a2a3d;

//       li a {
//         display: block;
//         padding: 10px;
//         color: #b5b5b5;
//         text-decoration: none;

//         &:hover {
//           color: #fff;
//         }
//       }
//     }
//   }

//   .sidebar-user {
//     display: flex;
//     align-items: center;
//     gap: 10px;
//     position: absolute;
//     bottom: 20px;
//     left: 15px;

//     img {
//       width: 50px;
//     }
//   }

// }

.sidebar {
  height: 100% !important;
  width: 270px;
  transition: width 0.5s ease;
  overflow: hidden;
  background: #10141A;
  color: #fff;
  height: 100vh;
  padding-top: 20px;
  position: relative;
  box-shadow: 99px -1px 10px 0px rgba(24, 26, 27, 0.473);
  -webkit-box-shadow: 9px -1px 10px 0px rgba(24, 26, 27, 0.473);
  -moz-box-shadow: 9px -1px 10px 0px rgba(24, 26, 27, 0.473);

  &.collapsed {
    width: 100px;
    overflow: visible;

    .custom-label{
        flex-direction: column;
        font-size:12px;
      }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50%;
      // Added animation for centering
      animation: centerMenu 1s ease-out;

      @keyframes centerMenu {
        from {
          opacity: 0;
          transform: translateX(-20px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    .menu-item {
      justify-content: center !important;
      padding: 12px;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-bottomleft: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      animation: slideInCenter 0.3s ease-out;

      @keyframes slideInCenter {
        from {
          opacity: 0;
          transform: translateY(-100px) scale(0.9);
        }
        to {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }

      .icon-sec {
        margin: 0 auto;
      }

      // label {
      //   display: none;
      // }
    }

    .arrow {
      display: none;
    }

    .submenu {
      position: absolute;
      top: 0;
      left: 100%;
      min-width: 300px;
      background: #2a2a3d;
      z-index: 1000;
      display: none;

      h6 {
        border-bottom: 1px solid #5f5f5f;
        padding: 20px;
      }
    }

    .has-submenu {
      position: relative;

      &.open {
        background: linear-gradient(90deg, #00C5D6 2%, rgb(42, 42, 61) 93%);
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &:hover {
        background: linear-gradient(90deg, #00C5D6 2%, rgb(42, 42, 61) 93%);
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .float-submenu {
        z-index: 99999;
        border-top: 1px solid rgba(31, 34, 46, 0.31);
        border-right: 1px solid rgba(31, 34, 46, 0.31);
        border-bottom: 1px solid rgba(31, 34, 46, 0.31);
        -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      
  
    }

    li.has-submenu:hover .submenu,
    li.has-submenu.open .submenu {
      display: block;
      padding: 0;
      background-color: rgb(31 29 43 / 61%);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      border: 1px solid #2e2e2e;
    }
  }

  .sidebar-logo {
    text-align: center;
    margin: 10px;
  }

  .sidebar-collpseMenu {
    background-color: #1F1D2B;
    padding: 5px;
    display: block;
    text-align: center;
    margin: 1rem 0;

    button {
      color: inherit;
      text-decoration: none;
      font-size: 24px;
      transition: all 1s;

      &:hover {
        color: #00C5D6;
      }
    }
  }

  .menu {
    list-style: none;
   margin: 5px;
    padding: 5px;

    li {
      .submenu {
        .icon-sec {
          background: #252836;
          width: 45px;
          height: 35px;
          color: #706D7E;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          font-size: 20px;
        }
      }
    }

    .menu-item {
      display: flex;
      justify-content: space-between;
      padding: 5px 0px;
      margin-bottom: 5px;
      cursor: pointer;
      color: #706D7E;
      text-decoration: none;
      font-size: 14px;


      &.active {
        color: #00c5d6;
        font-weight: 600;

        .icon-sec {
          background: #00c5d6 !important;
        }
      }


      .icon-sec {
        background: #252836;
        width: 30px;
        height: 30px;
        color: #706D7E;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 16px;
      }
    }

    .arrow {
      transition: transform 0.2s;

      &.open {
        transform: rotate(180deg);
      }
    }

    .submenu {
      list-style: none;
      padding-left: 25px;
      li a {
        display: block;
        padding: 10px;
        color: #b5b5b5;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .sidebar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 15px;

    img {
      width: 50px;
    }
  }
}
.charts-wrapper {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.layout.collapsed {
  .main-content {
    .charts-wrapper {
      .chart-card {
        width: 140px !important;

      }
    }
  }
}


.chart-card {
  position: relative;
  width: 120px;
  border-radius: 12px;
  padding: 5px;
  text-align: center;
  color: white;

  &.bg-state {
    background: #1F1D2B99;
  }

  &.bg-chart {
    background: #1F1D2B;

  }
  &.stat-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    strong ,span{
      font-size: 12px;
    }
  }
}

.chart-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  /* center inside card */
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

// .chart-label {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   color: white;

//   .percent {
//     font-size: 1.2rem;
//     font-weight: bold;
//   }
// }

.description {
  font-size: 12px;
  margin-top: 1.5rem;
  color: #ccc;

    strong{
        font-size: 12px;

    }

}

.text-muted {
  color: #706D7E !important;
  font-weight: 500;
}
.text-custom{
  color: #9E9BAD;
  font-size: 10px;
}


::placeholder {
  color: #706D7E !important;
}


.afternoon-shift-container {
  padding: 20px;
  background: #252836;
  color: #fff;
  margin-top: 1rem;

  h2 {
    margin-bottom: 0;
    color: #CECBDE;
    font-size: 12px;
    font-family: 'Poppins bold';
    text-shadow: none;
  }

  .shift-info {
    font-size: 12px;
    color: #CECBDE;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    margin-bottom: 20px;
    gap: 10px;

    .search-section {
      background: #1F1D2B;
      padding: 6px 10px;
      border-radius: 10px;
      width: 80%;

      .p-input-icon-left {
        display: flex;
        align-items: center;
        gap: 15px;

      }
    }

    .search-input {
      width: 100%;
      max-width: 300px;
    }

    .action-buttons {
      display: flex;
      gap: 15px;

      button {
        box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 2px 0px;
        -webkit-box-shadow:rgba(0, 0, 0, 0.75) 0px 1px 2px 0px;;
        -moz-box-shadow: rgba(0, 0, 0, 0.75) 0px 1px 2px 0px;;
        padding: .5rem 1.5rem;
        border-radius: 10px;
        gap: 10px;
        transition: all 1s;
        font-size: 12px;

        &:hover {
          background-color: #10141A;
        }
      }

    }
  }
 
    .p-datatable {
      .p-datatable-thead>tr>th {
        background: #1F1D2B;
        color: #9E9BAD;
        border-bottom: 1px solid #464353;
        padding: 10px;
        font-weight: 700;
            font-size: 12px;
        .bg-light{
              box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
        padding: .5rem .75rem;
        border-radius: 10px;
    
        gap: 10px;
        background-color: #252836 !important;
        }
      }

      .p-datatable-tbody>tr>td {
        background: #252836;
        color: #CECBDE;
        border-bottom: 1px solid #464353;
        padding: 10px;
        font-size: 12px;
        
      }

      .p-datatable-tbody>tr:hover {
        background: #1F1D2B;
      }

      .device-icon{
        text-shadow: 0px 0px 5px #4dbf77;
      }
    }

  .empty-state {
    text-align: center;
    padding: 40px;
    color: #ccc;
  }
}


.with-border {
  border-bottom: 2px dotted #464353;
  padding-bottom: 1rem;    
  margin-bottom: 1rem;       
}